@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .weather-card{
        @apply flex flex-col bg-weatherCard-bg justify-between w-[60%] md:w-[40%] xl:w-[25%] h-[270px] rounded-[15px] p-5
    }
    .country-heading{
        @apply text-center text-gray-300 font-bold text-[20px]
    }
    .temperature-section{
        @apply w-[100%] flex justify-between items-center
    }
    .temerature-info{
        @apply text-white font-bold text-[30px]
    }
    .low-high-temperature{
        @apply font-bold text-[18px] text-white
    }
    .weather-details{
        @apply text-gray-300 font-bold
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(36,34,48,255);
}